<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 21_BasicWhite (11.2)</string>
	<string>M13.0-7036.0.126-2</string>
	<string>M12.0-7033.0.134-2</string>
	<string>G-r1300-13A144</string>
</array>
</plist>
